body
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header
{
    height: 109px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
}
.header_left
{
    width: 500px;
    border: 1px solid black;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
header a
{
    color: black;
    text-decoration: none;
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
}
.header_left img
{
    color: lawngreen;
    filter: #41cd8c(100%);
}
.header_right
{
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.header_right button
{
    border-radius: 1.636em;
    height: 37px;
    width: 119px;
    border: #41cd8c 2px solid;
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
}
.header_right button:hover
{
    color: #fff;
    background-color: #41cd8c;
}