body
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header
{
    height: 109px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
    background-color: #FAFAF5;
}
.header_left
{
    width: 500px;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
header a
{
    color: black;
    text-decoration: none;
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
}
.header_left img
{
    color: lawngreen;
    filter: #41cd8c(100%);
    padding-left: 25px;
}
.header_right
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}
.header_right button
{
    border-radius: 1.636em;
    height: 37px;
    width: 119px;
    border: #41cd8c 2px solid;
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    margin-right: 20px;
}
.header_right button:hover
{
    color: #fff;
    background-color: #41cd8c;
}
.main
{
    height: 661px;
    display: flex;
    padding-left: 67px;
    /* justify-content: space-around; */
    background-color: #FAFAF5;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 78%, 77% 88%, 50% 94%, 19% 89%, 0 78%, 0% 35%, 0 0);
}
.main img
{
    height: 691px;
    width: 400px;
}
.main_left
{
    border: 1px solid black;
    padding-top: 80px;
}
.main_left h1
{
    margin-block-end: 0em;
    margin-block-start: 0em;
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    color: #42cd8c;
}
.main_left p
{
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
    width: 510px;
}
.main_left button
{
    height: 57px;
    width: 248px;
    border-radius:3em;
    border: none;
}
#b1
{
    border: 2px solid black;
}
#b1:hover
{
    border: 2px solid #42cd8c;
    color:#42cd8c;
}
#b2
{
    background: linear-gradient(130deg, #ffa634, #ff435b);
    background-image: linear-gradient(130deg, rgb(255, 166, 52), rgb(255, 67, 91));
}
/* Video */
.mobile_video
{
    height: 691px;
    width: 650px;
    border: yellow 1px solid;
    display: flex;
}
.main_right
{
    border: 1px solid black;
    width: 250px;
    
}
.main_right p
{
    font-size: 32px;
    height: 35px;
    font-weight: 700;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.main_right img
{
    height: 37px;
    width: 32px;
}
.lifesum
{
    height: 1142px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.lifesum_cards
{
    /* height: 1142px; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.card
{
    width: 390px;
    height: 430px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Take The Quiz */
.quiz_section
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz
{
    height: 254px;
    width: 1072px;
    background-color: #FAFAF5;
}