body
{
    margin: 0;
    padding: 0;
}
header
{
    height: 109px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.header_left
{
    width: 648px;
    border: 1px solid black;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.header_left img
{
    color: lawngreen;
    filter: #41cd8c(100%);
}
.header_right
{
    border: 1px solid black;
}