body
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header
{
    height: 109px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
    background-color: #FAFAF5;
}
.header_left
{
    width: 500px;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
header a
{
    color: #363636;
    text-decoration: none;
    font-weight: 600;
    line-height: 23px;
    font-size: 17px;
}
header a:hover
{
    text-decoration: underline rgb(62, 205, 140);
    /* color: rgb(65, 205, 140); */
}
.header_left img
{
    color: lawngreen;
    filter: #41cd8c(100%);
    padding-left: 25px;
}
.header_right
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}
.header_right button
{
    border-radius: 1.636em;
    height: 37px;
    width: 119px;
    border: #41cd8c 2px solid;
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    margin-right: 20px;
}
.header_right button:hover
{
    color: #fff;
    background-color: #41cd8c;
}
.main
{
    height: 661px;
    display: flex;
    padding-left: 67px;
    /* justify-content: space-around; */
    background-color: #FAFAF5;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 78%, 77% 88%, 50% 94%, 19% 89%, 0 78%, 0% 35%, 0 0);
}
.main img
{
    height: 691px;
    width: 400px;
}
.main_left
{
    border: 1px solid black;
    padding-top: 80px;
}
.main_left h1
{
    margin-block-end: 0em;
    margin-block-start: 0em;
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    color: #42cd8c;
}
.main_left p
{
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
    width: 510px;
}
.main_left button
{
    height: 57px;
    width: 248px;
    border-radius:3em;
    border: none;
}
#b1
{
    border: 2px solid black;
}
#b1:hover
{
    border: 2px solid #42cd8c;
    color:#42cd8c;
}
#b2
{
    background: linear-gradient(130deg, #ffa634, #ff435b);
    background-image: linear-gradient(130deg, rgb(255, 166, 52), rgb(255, 67, 91));
}
/* Video */
.mobile_video
{
    height: 691px;
    width: 650px;
    border: yellow 1px solid;
    display: flex;
}
.main_right
{
    border: 1px solid black;
    width: 250px;
    
}
.main_right p
{
    font-size: 32px;
    height: 35px;
    font-weight: 700;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.main_right img
{
    height: 37px;
    width: 32px;
}
.lifesum
{
    height: 1142px;
    /* font-size: 56px; */
    /* text-align: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.lifesum h1
{
    font-size: 56px;
    font-weight: 400;
    line-height: 66px;
    text-align: center;
}
.lifesum_cards
{
    /* height: 1142px; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.card
{
    width: 390px;
    height: 430px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.card h3
{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.card p
{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;   
}
/* Take The Quiz */
.quiz_section
{
    display: flex;
    align-items: center;
    justify-content: center;

    /* display: flex; */
}
.quiz
{
    height: 254px;
    width: 1072px;
    background-color: #FAFAF5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
.quiz_image img
{
    /* border: black solid 1px; */
    height: 148px;
    width: 171px;
}
.take_quiz
{
    border: black solid 1px;
    /* padding-right: 40px; */
    width: 750px;
}
.take_quiz h3
{
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;   
}
.take_quiz button
{
    height: 60px;
    width: 210px;
    border: none;
    border-radius: 1.9rem;
    background-color: #19BF94;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.heart_image
{
    /* height: 102px; */
    /* width: 114px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}
/* Sinup Section */
.signup_section
{
    border: solid 1px black;
    height: 1837px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAF5;
    clip-path: polygon(50% 0%, 100% 0, 100% 55%, 100% 82%, 79% 89%, 50% 94%, 18% 88%, 0 79%, 0% 37%, 0 0);   
}
.awards
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: solid 1px black; */
    width: 690px;
}
.awards img
{
    height: 134px;
    width: 190px;
    /* border: solid 1px black; */
}
.rating
{
    /* width: 400px; */
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    border: solid 1px black;
}
.star img
{   
    width: 20px;
    height: 20px;
}

.exp
{
    height: 590px;
    width: 770px;
    background-image: url(nike-small-4be9368a.jpg);    
    background-size: 767px 519px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    color: #fff;
    /* align-items: flex-end; */
}
.exp img
{
    height: 590px;
    width: 653px;
    border-radius: 14px;
}
.exp h3
{
    font-size: 16px;
    color: #fff;
}
.but button
{
    border-radius: 50%;
    border: none;
    height: 36px;
    width: 38px;
    border: black 1px solid;
}
#heading1
{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
}
.heading_signup
{
    height: 64px;
    width: 330px;
    border-radius: 1.9rem;
    border: none;
}
#image1
{
    height: 335px;
    width: 364px;
}
footer
{
    display: flex;
    /* flex-direction: column; */
}
footer p
{
    font-size: 17px;
    line-height:27px;
    font-weight: 600;
    color: #363636;
}
footer a
{
    text-decoration: none;
    color: black;
    font-size:20px;
    line-height: 32px;
    font-weight: 400;
}
footer a:hover
{
    color: blue;
}
.footer1
{
    /* display: flex; */
    border: black 1px solid;
    width: 375px;
}
.footer1 ul
{
    list-style: none;
}

.footer2
{
    border: black 1px solid;
    width: 375px;
}
.footer2 ul
{
    list-style: none;
}
.footer3
{
    border: black 1px solid;
    width: 375px;
}
.footer3 ul
{
    list-style: none;
}